.game-mode-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  background: rgb(255,255,255);
  background: linear-gradient(147deg, rgba(255,255,255,1) 0%, rgba(255,150,242,1) 100%);
}

.game-mode-container .mat-button {
  min-width: 300px;
  min-height: 70px;
  font-size: 30px;
  margin-bottom: 10px;
}
