<div fxLayout="column" fxLayoutAlign="center center" class="instructions-container" style="height: 100%">
    <div>
        <app-page-header header="Results"></app-page-header>
    </div>

    <div style="margin-top: 30px;">
        <img src="../../assets/finish.png" style="width: 150px" />
    </div>

    <div *ngIf="result" style="margin-top: 30px; font-size: 19px; height: 100%">
        <ul>
            <li style="padding-bottom: 8px;">The game took you {{duration}} mins to finish</li>
            <li style="padding-bottom: 8px;">You visited {{result.complete.length}} points out of 2</li>
            <li style="padding-bottom: 8px;">You are no. {{position}} in the leaderboard</li>
        </ul>
    </div>

    <div style="margin-bottom: 30px">
        <button *ngIf="result" mat-flat-button color="primary" mat-button class="navigation-button" style="margin-top:40px;" [routerLink]="['/leaderboard']" [queryParams]="{gameId: result.game.id, resultId: result.id}">Leaderboard</button>
    </div>
</div>