<div fxLayout="column" fxLayoutAlign="center center">
    <div>
        <app-page-header header="Choose Game"></app-page-header>
    </div>
    <mat-tab-group (selectedIndexChange)="tabIndexChanged($event)" style="width:100%;">
      <mat-tab label="Themed">
        <app-defined-games-accordion (gameSelected)="onGameSelected($event)"></app-defined-games-accordion>
      </mat-tab>
      <mat-tab label="Random">
        <div style="text-align: center; margin-top: 30px">Random not supported yet.</div>
      </mat-tab>
    </mat-tab-group>
    <!--test commit ownership-->
</div>