<mat-accordion class="accordion-container">
    <mat-expansion-panel *ngFor="let game of games">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{game.title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{game.description}}</p>
        <div class="choose-button-container">
            <span class="fill-space"></span>
            <button mat-raised-button (click)="chooseGame(game.id)" >Choose</button>
        </div>
    </mat-expansion-panel>
</mat-accordion>