<div fxLayout="column" fxLayoutAlign="center center">
    <div>
        <app-page-header header="Instructions"></app-page-header>
    </div>

    <div>
        <ul>
            <li>You'll get X points of interest to visit</li>
            <li>Plan your route as you like</li>
            <li>When  you reach the object, you'll be able to learn about it in the app!</li>
        </ul>
    </div>

    <div>
        <button mat-button color="primary" [routerLink]="['/map']">Start</button>
    </div>
</div>